@font-face {
    font-family: "Space Grotesk";
    src: url(../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf) format('truetype-variations');
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Grotesk";
}

.menu {
    display: flex;
    gap: 10px;
    cursor: pointer;
    position: relative;
    z-index: 11;
}

.menu img {
    cursor: pointer;
}

.menu .close-menu {
    display: none;
}

.menu.show-close .close-menu {
    display: block;
}

.menu.show-close img:first-child {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 1.7rem 2rem;
}

nav {
    display: block;
}

.logo {
    width: 100%;
    max-width: 140px;
    z-index: 2;
}

.nav-links {
    display: flex;
    position: fixed;
    align-items: center;
    background-color: white;
    height: 100vh;
    width: 100%;
    list-style: none;
    gap: 0.9rem;
    right: -100%;
    padding-top: 8rem;
    flex-direction: column;
    transition: right 0.3s ease;
    z-index: 1;
}

.nav-links.open {
    right: 0;
}

.nav-links.open ~ .close-menu {
    display: block;
}

a {
    text-decoration: none;
    color: #191A23;
    flex-shrink: 0;
}