@media all and  (min-width: 476px) {
   .hero-block {
        margin-left: 0.9rem;
   }
}

@media all and (min-width: 768px) {
    .menu {
        display: none;
    }

    .header {
        display: flex;
        gap: 40px;
        margin: 1.7rem 2rem;
    }

    nav {
        display: block;
    }

    .nav-links {
        display: flex;
        position: static;
        right: auto;
        width: auto;
        height: auto;
        padding: 0;
        background-color: transparent;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        transition: none;
        z-index: auto;
    }

    .nav-btn {
        padding: 0.9rem 2rem;
        font-size: 0.9rem;
        display: block;
    }
}

@media all and (min-width: 1024px) {
    .menu {
        display: none;
    }

    .header {
        display: flex;
        gap: 40px;
        margin: 1.7rem 2rem;
    }

    nav {
        display: block;
    }

    .nav-links {
        display: flex;
        position: static;
        right: auto;
        width: auto;
        height: auto;
        padding: 0;
        background-color: transparent;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        transition: none;
        z-index: auto;
    }

    .nav-btn {
        padding: 0.9rem 2rem;
        font-size: 0.9rem;
        display: block;
    }
}